html{
   margin: 0;
}
body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background: #00823c;
   color: white;
   margin: 0px;
}

h1, h4, h5{
   font-family: impact;
   color: white;
   text-transform: uppercase; 
}

h1, h2{
   margin: 0;
}

h1{
   font-size: 7.2vw;
   line-height: normal;
}

h2{
   font-weight: 100;
}

h4{
   font-size: 1.6vmax;
   font-weight: 400;
   margin: 32px 0 16px 0;
}

h5{
   text-align: center;
   margin: 16px 0;
   font-size: 2vmax;
   transition: color .3s ease-in-out;
}

ol{
   padding-left: 24px;
   font-size: 1.4vmax;
   margin: 0;
}

li{
   margin: 4px 0;  
}

li i{
   font-size: 1.2vmax;
   font-weight: 100;
}

a{
   color: white;
   text-decoration: none;
   transition: all .3s ease-in-out;
}

a:hover{
   color: rgb(170, 170, 150);
}

img{
   border-radius: 2px;
}

/* ID & Classes */
#id{
   /* L'id est pour un élément unique ! On utilise son nom nom qu'une fois: . */
}

.class{
   /* La class est utilisée quand on utilise plusieurs fois le même élément */
}

#header{
   display: flex;
   gap: 16px;
   width: 100%;
}

#image{
   width: 50%;
   height: 100%;
}

#image img{
   width: 100%;
   height: 100%;
}

#text{
   padding: 32px;
}

#discographie{
   display: flex;
   flex-direction: column;
   padding: 64px 32px;
}

#discographie h4{
   font-size: 3.2vw;
   text-align: center;
}

#other-albums{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 24px;
   list-style: none;
   margin: 0;
   padding: 0;
}

.carte-album{
   display: flex;
   width: 32%;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.carte-album img{
   width: 100%;
   object-fit: contain;
   filter: grayscale(100%) sepia(80%) contrast(1.1) saturate(.5);
   transition: filter .6s ease-in-out;
}
.carte-album:hover img{
   filter: grayscale(0%);
}
.carte-album:hover h5{
   color: #aaaa96;
}

.carte-album a{
   width: 100%;
   height: 100%;
}
.carte-album h5{
   width: 100%;
   object-fit: contain;
}